/* Variables */
:root {
    --light-blue: #72a7fd;
    --blue: #3882f6;
    --dark-blue: #1f2937;
    --light-grey: #f9faf8;
    --grey: #e5e7eb;
}

/* General styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Botton styles */
button {
    padding: 7px 15px;
    background-color: var(--blue);
    color: var(--light-grey);
    border-radius: 9px;
    font-size: 15px;
    border-color: white;
}

button:hover {
    background-color: var(--light-blue);
}

button:active {
    background-color: var(--blue);
}

/* General layout */
body {
    margin: 0px;
    display: flex;
    flex-flow: column nowrap;
}

/* Header */
header {
    padding: 40px 15vw;
    background-color: var(--dark-blue);
    color: var(--grey);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin: 20px;
    color: var(--grey);
    text-decoration: none;
}

nav a:hover {
    color: var(--blue);
}

/* Hero */
#hero {
    padding: 0 20vw 100px 20vw;
    background-color: var(--dark-blue);
    color: var(--grey);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 75px;
    font-size: 18px;
}

#hero h2 {
    margin: 0;
    color: var(--light-grey);
    font-size: 48px;
    font-weight: extra-bold;
}

#hero img {
    height: 300px;
}

/* Members */
#members {
    text-align: center;
    margin-bottom: 50px;
}

#members h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: var(--dark-blue);
}

#profile-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.profile {
    margin: 0 5vw;
    width: 10vw;
}

.profile p:first-of-type {
    font-weight: bold;
}

.profile img {
    width: 10vw;
    border-color: var(--blue);
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
}

/* Quote */
#quote {
    margin: 0;
    background-color: var(--grey);
    padding: 10vw 25vw;
}

#quote blockquote {
    margin: 0 0 5px 0;
}

#quote figcaption {
    font-weight: bold;
    text-align: right;
}

/* Call to action */
#call-to-action {
    margin: 5vw 20vw;
    padding: 2vw 5vw;
    background-color: var(--blue);
    border-radius: 10px;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    gap: 5vw;
}

#call-to-action button {
    align-self: center;
}

/* Footer */
footer {
    color: white;
    background-color: var(--dark-blue);
    text-align: center;
    padding: 2vw 0;
}